<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/host.css">
</head>

<body>
    <iframe src="/audio/silence.mp3" type="audio/mp3" allow="autoplay" id="audio" style="display: none;"></iframe>

    <%-include('./partials/nav.ejs') %>

        <div class="top-info">
            <div class="display-game-info">
                <div class="game-code">
                    <h1>Game Code: <strong id="CODE"></strong></h1>
                </div>
                <div class="game-topic">
                    <h1>Topic <strong id="TITLE"><%=game_data.title%></strong></h1>
                </div>
            </div>
            <div class="toggle-audio">
                <audio id="my_audio" src="/audio/music.mp3" type="audio/mp3" loop></audio>
                <button>Audio button</button>
            </div>
        </div>

        <div class="lobby-container">
            <section class="stats">
                <div class="players-in-lobby qrst">
                    <div>
                        <h3><strong class="player-counter">Players: 0</strong></h3>
                    </div>
                </div>
                <div class="qrst">
                    <div class="title">
                        <h1><strong>ScuffedHoot!</strong></h1>

                    </div>
                </div>
                <div class="start-button qrst">
                    <div>
                        <button><strong>START</strong></button>
                    </div>
                </div>
            </section>
            <section class="show-players">
                <ul class="players">
                </ul>
            </section>
        </div>

        <%-include('./partials/scripts.ejs') %>
        <script>
            const TITLE = '<%=game_data.title%>'
            console.log(TITLE)
        </script>
        <script src="/js/host.js"></script>

</body>

</html>