<html lang="en">

<head>
    <title>ScuffedHoot | <%=scuffedHoot.title %>  </title>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/show-selected-game.css">
</head>

<body>
    <%-include('./partials/nav.ejs') %>

        <div class="container">
            <div class="col1">
                <h1 class="title">
                    <%=scuffedHoot.title %> 
                </h1>
                <button id="PLAY">PLAY</button>
                <p class="description">
                    <%=scuffedHoot.description %>
                </p>
            </div>
            <div class="col2">
                <button>show answers</button>
                <%let ctr = 1;%>
                <% scuffedHoot.questions.forEach((item)=>{ %>
                        <div class="question-info">
                            <h4><%=ctr %> - QUIZ </h4>                            
                            <p> <strong><%=item.question%></strong></p>
                            <ol class="question-choices">
                                <% item.answers.forEach((answer,key)=>{ %>
                                    <li class="question-options">
                                        <% if(key === item.correct_answer) {%>
                                            <%=answer%> - <strong>correct</strong> 
                                        <% }else{ %>
                                            <%=answer%> 
                                        <% } %>  
                                    </li>
                                <% }) %>  
                            </ol>
                        </div> 
                        <% ctr += 1 %> 
                <% }) %> 
            </div>
        </div>


        <script>
            const json_str = `<%- JSON.stringify(scuffedHoot)%>`;
            const scuffedhoot = JSON.parse(json_str)
            console.log(scuffedhoot);
            console.log(scuffedhoot.questions[0].answers);
        </script>
        <%-include('./partials/scripts.ejs') %>
        <script src="/js/show-selected-game.js"></script>

</body>

</html>